h1 {
  line-height: 130%;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  margin-top: 3.2em;
  margin-bottom: 3.3em;
}

h2 {
  line-height: 130%;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1.2em;
  margin-bottom: 2.3em;
}

div {
  margin: 0;
  padding: 0;
  text-align: justify;
}

p {
  text-indent: 0;
  display: block;
  line-height: 1.3em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

/* Narrower spacing for intentionally blank paragraphs */
p.blank {
  /* Much tighter gap for visual blank lines */
  margin-top: 0.05em;
  margin-bottom: 0.05em;
  line-height: 0.6em;
}

img {
  vertical-align: text-bottom;
  max-width: 90%;
}

.title {
  margin-bottom: 0.7em;
}
